{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Articles
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/stylesheet/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'articles:list' %}">LOGO</a></h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'acounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form>
            </li>
            <li>
                <a class="highlight" href="{% url 'articles:create' %}">create new article</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'acounts:login' %}">login</a>
            </li>
            <li>
                <a href="{% url 'acounts:signup' %}">signup</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </header>
    <div class="wrapper">

    {% block content %}

    {% endblock %}
    </div>
</body>
</html>